.bio {
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 20px;
    background-image: linear-gradient(to bottom right, #d2bf55, #eddd82, #f0e49d);
    color: black;
}

.row1 {
    border: solid black 3px;
    background-color: #d2bf55;
}