.wrapper {
    margin: 20px auto;
    padding: 20px;
    width: 75%;
    background-image: url('../../images/usmc_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper2 {
    margin: 20px auto;
    padding: 20px;
    width: 75%;
    background-image: url('../../images/mindful_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.title1 {
    font-family: 'Cinzel', serif;
    text-align: center;
    color: rgb(160, 15, 15);
}

.title2 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: rgb(16, 16, 137);
}

.textbg {
    background: rgb(199, 196, 196, .58);
    padding: 0.1rem;
}

.header {
    text-align: center;
    color: rgb(220, 211, 211);
}

.text {
    font-size: 1.5em;
    color: black;
}