body {
    background: #252b39;
    box-sizing: border-box;
}

.nav {
    background-color: #a13b44;
}

.header-main {
    padding-top: 0;
}

.header-text {
    font-weight: bold;
}

main {
    flex: 1 0 auto;
}