.bio-text {
    margin-top: 0;
    margin-left: 10px;
    font-size: 1.15em;
    text-align: justify;
}

.resume {
    color: #923840;
}
  
.resume:hover {
    text-decoration: underline;
    color: rgb(136, 10, 136);
}

@media screen and (min-width: 425px) and (max-width: 768px) {
    .bio-text {
        font-size: 1em;
        line-height: 1.6;
    }
}

@media screen and (min-width: 320px) and (max-width: 426px) {
    .bio-text {
        font-size: 1em;
        margin-top: 15px;
    }
}