.card {
    border-radius: 10px;
    background-image: linear-gradient(#abacb1, #c6c7cc, #e0e1e6, #f2f4ff);
    overflow: hidden;
    padding: 30px;
    border: 5px solid black;
    border-style: double;
}

.card .card-title {
    font-weight: bold;
}

.card-title {
    display: block;
    text-align: center;
    text-decoration: underline;
    font-weight: 800;
    margin-top: 5px;
}

.card-content > p {
    font-size: 16px;
}

#grow-deploy {
    color: #2956c7;
    transition: color 1s ease;
}

#grow-deploy:hover {
    text-decoration: underline;
    color: rgb(136, 10, 136);
    transform: scale(1.1);
}

#grow-github {
    color: #2956c7;
    transition: color 1s ease;
}

#grow-github:hover {
    text-decoration: underline;
    color: rgb(136, 10, 136);
    transform: scale(1.1);
}

.card-action {
    display: flex;
    justify-content: space-around;
}