.page-header {
    background-color: #d2bf55;
    font-family: 'Neucha', cursive;
    font-size: 1.6em;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.3em;
    margin: 20px 0;
    padding: 10px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}