#line1 {
    text-align: left;
}

#line2 {
    text-align: center;
}

#line3 {
    text-align: right;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
    #line1, #line2, #line3 {
        text-align: center;
        font-size: 0.75em;
    }
}