.center {
    text-align: center;
}

#hskills > li {
    list-style-type: circle;
    font-size: 16px;
}

.fa-html5 {
    color: orange;
}

.fa-css3-alt {
    color: rgb(35, 35, 248);
}

.fa-js-square {
    color: rgb(182, 182, 85);
}

.fa-node-js {
    color: green;
}

.sql {
    color: rgb(58, 147, 177);
}

.mongo {
    color: green;
}