.title {
    text-align: center;
    color: rgb(220, 211, 211);
    font-size: 1.8rem;
}

.skill-text {
    color: rgb(220, 211, 211);
    text-align: center;
    padding: 0;
}

.icon {
    text-align: center;
}

#hskills > li {
    list-style-type: circle;
    font-size: 16px;
    color: rgb(220, 211, 211);
}

.fa-html5 {
    color: orange;
}

.fa-css3-alt {
    color: rgb(35, 35, 248);
}

.fa-js-square {
    color: rgb(182, 182, 85);
}

.fa-node-js {
    color: green;
}

.sql {
    color: rgb(58, 147, 177);
}

.mongo {
    color: green;
}

.fa-react {
    color: rgb(58, 147, 177);
}

.fa-microsoft {
    color: rgb(220, 211, 211);
}

@media screen and (min-width: 320px) and (max-width: 375px) {
    .skill-text {
        font-size: 0.75rem;
    }
}